body {
  margin: 0;
  padding: 0;
  background-color: #92f0e5;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sticky-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
}
.logo img {
  height: 40px;
}

header {
  background-color: #0d1321;
  color: #fff;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  background-color: #18ecd3;
  padding: 0.7rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

nav ul li a:hover {
  background-color: #14d5bf;
  padding: 1.1rem;
  transform: scale(1.4);
}

.hero {
  background-image: url(./assets/sunset1.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.btn {
  background-color: #ff8c00;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffaf4d;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  color: #18ecd3;
  font-size: 3rem;
  margin: 1rem 1rem 1rem 0.4rem;
}

section {
  background-color: antiquewhite;
  margin: 0;
  text-align: center;
}
